.main-body{
    margin: 2rem;
}
.courses-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
h1{
    text-align: left;
}
h4{
    text-align: left;
}
.activity-container{
    margin: 2rem 1rem;
}

@media only screen and (max-width: 600px){
    .courses-container{
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

}