.main-body{
    display: flex;
    margin: 2rem;
}
.courses-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
h1{
    text-align: left;
}
h2{
    text-align: left;
}
.activity-container{
    margin: 2rem 1rem;
}